/*Global Styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* End of Global Styling */

header {
    padding: 21px 36px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 81%;
    z-index: 9999;
}

/* Header Styling */
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 37px;
    color:blueviolet;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

header a {
    text-decoration: none;
    color: blueviolet;
}

header nav {
    margin: 9px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 11px 16px;
    font-weight: 100;
    font-size: 1.55vw;
    text-shadow: 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

header nav ul li a:hover {
    color: aqua;
    border-radius: 16px;
    text-shadow: none;
}
/* End of Header Styling */

/* Footer Styling */
footer {
    padding: 41px 36px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h4 {
    color: lightblue;
    font-size: 31px;
    margin: 0;
}

/* End of Footer Styling */

/* Section Global Styling */

section {
    padding: 61px;
}

/* Start of Hero Styling */
.hero {
    background-image: url('../Assets/splash_water.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 81%;
}

.hero h2 {
    font-size: normal;
    font-size: 31px;
    color: lightblue;
    float: right;
    background-color: blueviolet;
}
/* End of Hero Styling */

/* Start of Main Sections */
.section {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* About Me and Contact Me Styling */
.section-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 36px;
    color: blueviolet;
    margin: 0 auto 0 auto;
    padding-right: 15px;
    width: 10%;
    text-align: end;
    border-right: lightblue solid 4px;
}

/* Work Title Styling */
.section-title2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 35px;
    color: lightblue;
    margin: 0 auto 0 auto;
    padding-right: 16px;
    width: 10%;
    text-align: end;
    height: 1251px;
}

/* About me and Contact Me Styling */
.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 90%;
}

/* Work Content Styling */
.flex-row2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 90%;
    border-left: darkcyan solid 3px;
}

/* Picture of Abel */
.photo {
    width: 11%;
    height: auto;
    padding-left: 1%;
}

/*Font and Anchor Elements Styling */
.section p, .section a {
    line-height: 1.5;
    color: light;
    width: 80%;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    padding: 0 15px 0 15px;
}

/* Work Font Styling */
.flex-row2 p {
    display: inline-block;
    text-align: start;
    background-color: aqua;
    opacity: 86%;
    width: 46%;
    position: absolute;
    bottom: 11%;
    left: 1%;
}

.main-project  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 0 auto;
    height: 651px;
    width: 100%;
}

/* side projects section */
.side-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    flex-direction: row;
    width: 101%;
}

/* Main Porject Image */
.surf-report {
    background-image: url('../Assets./mern_stack.png');
    background-size: cover;
    width: 100%;
    height:600px; 
    margin: 0 1% 2% 1%;
    border: aqua 5px solid;
    position: relative;
}

/* Hover Styling */
.surf-report:hover{
    opacity: 75%;
}
/* LED Wall Styling */
.led-wall {
    background-image: url('../Assets/Iot_nodes.webp');
    background-size: cover;
    width: 47.5%;
    height: 300px;
    margin-bottom:2%;
    margin-right: 0.5%;
    border: aqua 5px solid;
    position: relative;
}
/* LED Wall Hover Styling */
.led-wall:hover {
    opacity: 75%;
}

/* Calculator image Styling */
.calculator {
    background-image: url('../Assets/calculator.png');
    background-size: cover;
    width: 47.5%;
    height: 300px;
    margin-bottom: 2%;
    margin-right: 0.5%;
    border: aqua 5px solid;
    position: relative;
}

/* Calculator Hover Styling */
.calculator:hover {
    opacity: 75%;
}