/*Global Styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* End of Global Styling */

header {
    padding: 20px 35px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

/* Header Styling */
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color:blueviolet;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

header a {
    text-decoration: none;
    color: blueviolet;
}

header nav {
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: 100;
    font-size: 1.55vw;
    text-shadow: 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

header nav ul li a:hover {
    color: aqua;
    border-radius: 15px;
    text-shadow: none;
}
/* End of Header Styling */

/* Footer Styling */
footer {
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h4 {
    color: lightblue;
    font-size: 30px;
    margin: 0;
}

/* End of Footer Styling */

/* Section Global Styling */

section {
    padding: 60px;
}

.hero {
    background-image: url('../Assets/splash_water.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

.hero h2 {
    font-size: normal;
    font-size: 30px;
    color: lightblue;
    float: right;
    background-color: blueviolet;
}
